
/*<<<<<<<<<<------fonts------<<<<<<<<<<<<*/

$font-style:"Varela Round", sans-serif;
$font1: 13px;
$font2: 40px;
$font3: 15px;
$font4: 60px;
$font5: 25px;
$font6: 38px;

/*<<<<<<<<<<<<<-----colors----<<<<<<<<<<<<<<<<<<<<<*/

$whitesmoke: whitesmoke;
$black: black;
$faded-gray: rgb(248,248,249);
$faded-gray2: #a1a0b00d;
$light-gray: #8c9398;

$gray: #a1a9b0;
$dark-gray: #A9A9A9;
$greenish-blue: #3dc9b3;
$black: #353535;
$white: #fff;
$dark-black: #242830;
$dark-greenish-blue: #309383;
$black-gray: #555;
$light-green: #36c0a4;
$fade-green: #12c0a4;
$greenish-blue-op: rgba(61, 201, 179, 0.5);
$trans-gray: rgba(255, 255, 255, 0.1);
$trans-gray-hover: rgba(255, 255, 255, 0.4);
$shadow: rgba(0, 0, 0, 0.004);

/*<<<<<<<<<<<-----screen size------<<<<<<<<<<*/

$lg: 1200px;
$md: 990px;
$sm: 767px;
$xs: 550px;
$mobile: 480px;

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-----END------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/