/*<<<<<<<<<<------fonts------<<<<<<<<<<<<*/
/*<<<<<<<<<<<<<-----colors----<<<<<<<<<<<<<<<<<<<<<*/
/*<<<<<<<<<<<-----screen size------<<<<<<<<<<*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-----END------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 2, ../sass/admin.scss */
body {
  background-image: url(../images/bg-1.jpg) !important;
}

/* line 5, ../sass/admin.scss */
.header {
  width: 100%;
  background-color: white;
}
/* line 9, ../sass/admin.scss */
.header .upper {
  padding-bottom: 20px;
  text-align: center;
  font-family: "Varela Round", sans-serif;
}
/* line 13, ../sass/admin.scss */
.header .upper .logo {
  /*margin: 0 40%;*/
  float: left;
  padding-left: 100px;
}
/* line 17, ../sass/admin.scss */
.header .upper .logo h1 {
  font-size: 50px;
  font-weight: 20px;
  margin-bottom: -20px;
  border-bottom: none !important;
}
/* line 23, ../sass/admin.scss */
.header .upper .logo span {
  font-size: 20px;
  color: gray;
}
/* line 28, ../sass/admin.scss */
.header .upper .menu {
  float: right;
  margin-top: 40px;
  padding-right: 100px;
}
/* line 32, ../sass/admin.scss */
.header .upper .menu .log {
  list-style: none;
  position: relative;
  right: 10px;
}
/* line 36, ../sass/admin.scss */
.header .upper .menu .log li {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Varela Round", sans-serif;
  text-decoration: none;
  display: inline !important;
}
/* line 43, ../sass/admin.scss */
.header .upper .menu .log li a {
  color: gray !important;
  text-decoration: none !important;
}
/* line 46, ../sass/admin.scss */
.header .upper .menu .log li a:hover {
  border-bottom: 2px solid rgba(61, 201, 179, 0.5);
  text-decoration: none !important;
}
/* line 55, ../sass/admin.scss */
.header .lower-header {
  /*  height: 90px;*/
  text-align: center;
  font-family: "Varela Round", sans-serif;
}
/* line 61, ../sass/admin.scss */
.header .lower-header .main-nav {
  list-style: none;
  position: relative;
  line-height: 31px;
  margin-top: 50px;
  margin-bottom: 0px;
}
/* line 67, ../sass/admin.scss */
.header .lower-header .main-nav li {
  display: inline !important;
  margin: 25px;
}
/* line 70, ../sass/admin.scss */
.header .lower-header .main-nav li a {
  font-size: 15px;
  color: gray !important;
  /*transform: scale(1);*/
}
/* line 74, ../sass/admin.scss */
.header .lower-header .main-nav li a:hover {
  /*transform: scale(1.3);*/
  font-size: 16px;
  color: black !important;
  transition: all 0.3s ease;
  text-decoration: none;
  border-bottom: 2px solid #000;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 87, ../sass/admin.scss */
h2 {
  text-align: center;
  font-style: italic;
  font-family: "Varela Round", sans-serif;
}

/* line 92, ../sass/admin.scss */
a {
  text-decoration: none !important;
}
/* line 94, ../sass/admin.scss */
a:hover {
  text-decoration: none !important;
}

/* line 98, ../sass/admin.scss */
.content {
  padding-top: 20px;
  padding-left: 30px;
  width: 60%;
  height: auto;
  margin: 0 auto;
  background: #fff;
  opacity: 0.95;
  box-shadow: 5px 5px 5px #353535;
  border-radius: 10px;
}
/* line 109, ../sass/admin.scss */
.content .link_box {
  width: 200px;
  height: 200px;
  background: whitesmoke;
  float: left;
  margin: 14px;
  box-shadow: 5px 5px 5px #353535;
  border-radius: 8px;
  opacity: 2;
}
/* line 118, ../sass/admin.scss */
.content .link_box .box_img {
  width: 150px;
  height: 110px;
  margin: 0 auto;
  padding-top: 10px;
}
/* line 124, ../sass/admin.scss */
.content .link_box .box_text {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #900;
  padding-top: 30px;
  font-family: "Varela Round", sans-serif;
}

/* line 136, ../sass/admin.scss */
.category img {
  width: 50%;
  height: auto;
  margin-left: 28%;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 143, ../sass/admin.scss */
#slidetab {
  width: 70px;
  height: 465px;
  position: fixed;
  left: -7px;
  top: 150px;
  display: block;
  background-color: #242830;
  border-radius: 10px;
  box-shadow: 4px 4px 3px 0 rgba(1, 1, 1, 0.1);
  z-index: 99999;
}

/* line 156, ../sass/admin.scss */
.zoom_img img {
  margin: 15px;
  height: 50px;
  width: 50px;
  -webkit-transition: -webkit-transform 0.5s ease-in;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 165, ../sass/admin.scss */
#add_category input[type=text] {
  margin-left: 15%;
  width: 50%;
  outline: none;
  border-radius: 5px;
  padding: 8px;
}
/* line 172, ../sass/admin.scss */
#add_category button {
  float: right;
  background-color: #3dc9b3;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 8px;
}

/* line 186, ../sass/admin.scss */
table {
  font-family: "Varela Round", sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

/* line 194, ../sass/admin.scss */
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
}

/* line 203, ../sass/admin.scss */
tr:nth-child(even) {
  background-color: #dddddd;
}

/* line 206, ../sass/admin.scss */
#add_book {
  border: 1px solid rgba(61, 201, 179, 0.5);
  background: #3dc9b3;
  padding: 10px;
  float: right;
  color: white;
  border-radius: 5px;
}

.fa-user{cursor: pointer;}
