/*<<<<<<<<<<------fonts------<<<<<<<<<<<<*/
/*<<<<<<<<<<<<<-----colors----<<<<<<<<<<<<<<<<<<<<<*/
/*<<<<<<<<<<<-----screen size------<<<<<<<<<<*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-----END------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 5, ../sass/style.scss */
body {
  width: 100%;
  overflow-x: hidden;
}

/* line 10, ../sass/style.scss */
html {
  width: 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
/* line 13, ../sass/style.scss */
html a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  transition: all 0.5s;
  text-decoration: none;
}
/* line 19, ../sass/style.scss */
html h1 {
  width: auto;
  display: inline-block;
  padding: 0 30px 20px;
  border-bottom: 2px dotted #a1a9b0;
}
/* line 25, ../sass/style.scss */
html hr {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 43.9%;
  margin-right: 43.9%;
  border-top: 4px solid #3dc9b3;
}
/* line 34, ../sass/style.scss */
html p {
  display: block;
  font-family: "Varela Round", sans-serif;
  color: #8c9398;
  padding-bottom: 10px;
  word-spacing: 1px;
  line-height: 25px;
  font-size: 13px;
  margin: 1em 0;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 47, ../sass/style.scss */
.dropdown-menu {
  left: -45px !important;
  min-width: 0 !important;
}

/* line 51, ../sass/style.scss */
.pull-right {
  margin-right: 5%;
}

/* line 54, ../sass/style.scss */
.dropdown-content {
  top: 25px;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  box-sizing: border-box;
  border: 2px solid #f8f8f9;
  /*box-shadow: 0px 0px 10px 0 $light-gray;*/
}
/* line 64, ../sass/style.scss */
.dropdown-content a {
  padding: 5px;
  font-size: 15px;
  color: gray !important;
  text-decoration: none;
  display: block;
  border-top: 2px solid #3dc9b3;
}
/* line 71, ../sass/style.scss */
.dropdown-content a:hover {
  text-decoration: none !important;
  border-bottom: none !important;
}

/* line 77, ../sass/style.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------NAVIGATION(icon + slide)------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 81, ../sass/style.scss */
.header-top {
  width: 100%;
  background-color: white;
  height: 165px;
}
/* line 86, ../sass/style.scss */
.header-top .upper-header {
  height: 100px;
  text-align: center;
  font-family: "Varela Round", sans-serif;
}
/* line 90, ../sass/style.scss */
.header-top .upper-header .logo {
  margin: 0 40%;
}
/* line 92, ../sass/style.scss */
.header-top .upper-header .logo h1 {
  font-size: 50px;
  font-weight: 20px;
  margin-bottom: -20px;
  border-bottom: none !important;
}
/* line 98, ../sass/style.scss */
.header-top .upper-header .logo span {
  font-size: 20px;
  color: gray;
}
/* line 103, ../sass/style.scss */
.header-top .upper-header .search-form {
  float: left;
  width: 330px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  padding: 6px 10px 6px;
  border-radius: 150px;
  margin-top: 50px;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Varela Round", sans-serif;
}
/* line 113, ../sass/style.scss */
.header-top .upper-header .search-form .fa {
  position: absolute;
  left: 15px;
  color: rgba(0, 0, 0, 0.4);
  top: 30%;
  font-size: 1.08em;
}
/* line 120, ../sass/style.scss */
.header-top .upper-header .search-form input[type="text"] {
  border: none;
  outline: none;
  height: 22px;
  width: 245px;
  background: transparent;
  box-sizing: border-box;
  font-style: italic;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  letter-spacing: 0.75px;
  font-size: 1.08em;
}
/* line 134, ../sass/style.scss */
.header-top .upper-header .menu {
  margin-top: -45px;
            /*{
        font-size: 30px;
        color: gray;
        padding: 10px 25px;
        &:hover{
          font-size: 33px;
          color: $greenish-blue;
          border-bottom: 2px solid $greenish-blue;
        }

      }*/
}
/* line 136, ../sass/style.scss */
.header-top .upper-header .menu .log {
  list-style: none;
  position: relative;
  right: 10px;
}
/* line 140, ../sass/style.scss */
.header-top .upper-header .menu .log li {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px solid #b1abab;
  font-family: "Varela Round", sans-serif;
  text-decoration: none;
  display: inline !important;
}
/* line 148, ../sass/style.scss */
.header-top .upper-header .menu .log li a {
  color: gray !important;
  text-decoration: none !important;
}
/* line 151, ../sass/style.scss */
.header-top .upper-header .menu .log li a:hover {
  border-bottom: 2px solid rgba(61, 201, 179, 0.5);
  text-decoration: none !important;
}
/* line 171, ../sass/style.scss */
.header-top .lower-header {
  /*  height: 90px;*/
  text-align: center;
  font-family: "Varela Round", sans-serif;
}
/* line 176, ../sass/style.scss */
.header-top .lower-header .main-nav {
  list-style: none;
  position: relative;
  line-height: 31px;
  margin-top: 50px;
  margin-bottom: 0px;
}
/* line 182, ../sass/style.scss */
.header-top .lower-header .main-nav li {
  display: inline !important;
  margin: 25px;
}
/* line 185, ../sass/style.scss */
.header-top .lower-header .main-nav li a {
  font-size: 15px;
  color: gray !important;
  /*transform: scale(1);*/
}
/* line 189, ../sass/style.scss */
.header-top .lower-header .main-nav li a:hover {
  /*transform: scale(1.3);*/
  font-size: 16px;
  color: black !important;
  transition: all 0.3s ease;
  text-decoration: none;
  border-bottom: 2px solid #000;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------HOME(PAGE-1)--------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 205, ../sass/style.scss */
.bg-parallax-1 {
  /*min-height: 720px;*/
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  text-align: center;
  background-attachment: fixed;
  position: relative;
  /*padding: 40px 0 40px 0;*/
  height: auto;
}
/* line 217, ../sass/style.scss */
.bg-parallax-1 .overlay-desc {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
/* line 225, ../sass/style.scss */
.bg-parallax-1 h1 {
  z-index: 100;
  color: white;
  font-family: "Varela Round", sans-serif;
  font-size: 9vw;
  margin-top: 250px;
  border-bottom: none;
}
/* line 234, ../sass/style.scss */
.bg-parallax-1 .video-container {
  position: relative;
}
/* line 237, ../sass/style.scss */
.bg-parallax-1 video {
  width: 100%;
}
/* line 239, ../sass/style.scss */
.bg-parallax-1 video source {
  width: 100%;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-----INTRO(PAGE-2)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 248, ../sass/style.scss */
#intro {
  background-color: whitesmoke;
  padding-top: 2%;
  padding-right: 6.4%;
  padding-left: 5%;
  padding-bottom: 2%;
  text-align: center;
  margin-bottom: 50px;
}
/* line 258, ../sass/style.scss */
#intro a {
  color: black;
  font-family: "Varela Round", sans-serif;
}
/* line 262, ../sass/style.scss */
#intro h1 {
  font-size: 15px;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 1px;
  position: relative;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
}
/* line 275, ../sass/style.scss */
#intro h1:after {
  content: url(../images/Layer.png);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 102%;
  padding: 0px 15px;
  background: whitesmoke;
}
/* line 285, ../sass/style.scss */
#intro .genre-ul {
  padding-left: 10px !important;
  padding-top: 10px !important;
  animation-duration: 3s;
  animation-delay: 0.8s;
  animation-iteration-count: 1;
}
/* line 292, ../sass/style.scss */
#intro .genre-li {
  display: inline;
  padding: 15px;
}
/* line 295, ../sass/style.scss */
#intro .genre-li img {
  width: 105px;
  height: 50%;
  padding-top: 15px;
  padding-bottom: 5px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
/* line 303, ../sass/style.scss */
#intro .genre-li img:hover {
  transform: scale(1.3);
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<---------FEATURES(PAGE-3)------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 314, ../sass/style.scss */
.intro2 {
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 10px;
  text-align: center;
}
/* line 321, ../sass/style.scss */
.intro2 h1 {
  font-size: 15px;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 1px;
  position: relative;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
}
/* line 331, ../sass/style.scss */
.intro2 h1:after {
  content: url(../images/Layer.png);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 102%;
  padding: 0px 15px;
  background: #fff;
}
/* line 341, ../sass/style.scss */
.intro2 h6 {
  color: #353535;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  padding-top: 20px;
}
/* line 348, ../sass/style.scss */
.intro2 .icon {
  height: 230px;
  width: 175px;
  line-height: 175px;
  max-width: 150%;
  display: block;
  overflow: hidden;
  color: #fff;
  font-size: 60px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 0 auto 50px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}
/* line 365, ../sass/style.scss */
.intro2 .icon:hover {
  font-size: 70px;
  height: 235px;
  width: 180px;
  box-shadow: 0px 0px 30px 0 #3dc9b3;
}
/* line 373, ../sass/style.scss */
.intro2 #book-ad {
  width: 100%;
  height: 100%;
}
/* line 377, ../sass/style.scss */
.intro2 p {
  padding-bottom: 10px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-------SPLIT-SCREEN(PAGE-4)----------------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 383, ../sass/style.scss */
.responsive-design {
  display: flex;
  position: relative;
  z-index: 1;
  background: #f8f8f9;
}
/* line 389, ../sass/style.scss */
.responsive-design .gray-half-bg {
  width: 50%;
  height: 100%;
  position: absolute;
}
/* line 397, ../sass/style.scss */
.responsive-design .right-img {
  position: relative;
  overflow: hidden;
}
/* line 401, ../sass/style.scss */
.responsive-design .right-img img {
  position: relative;
  width: 100%;
  height: 460px;
}
/* line 408, ../sass/style.scss */
.responsive-design .myCarousel {
  padding-bottom: 100px;
}
/* line 411, ../sass/style.scss */
.responsive-design .carousel {
  position: relative;
  text-align: center;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-------PARALX(PAGE-5)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 419, ../sass/style.scss */
.paralx {
  background-image: url("../images/bg.jpg");
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/* line 428, ../sass/style.scss */
.paralx #swag {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 5px;
  font-family: "Varela Round", sans-serif;
  color: #353535;
  letter-spacing: 5px;
  font-size: 40px;
}
/* line 437, ../sass/style.scss */
.paralx #swag #spn {
  padding-top: 15px;
  font-size: 25px;
  color: #353535;
  padding-bottom: 10px;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-iteration-count: 1;
}
/* line 449, ../sass/style.scss */
.paralx #spn1 {
  font-size: 40px;
  color: #353535;
  margin-top: 20px;
  margin-bottom: 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-iteration-count: 1;
}
/* line 458, ../sass/style.scss */
.paralx .fa-chevron-down {
  padding-left: 4px;
}

/* line 464, ../sass/style.scss */
.dwn-btn {
  padding-right: 2px;
  padding-left: 2px;
  width: 40px;
  height: 40px;
  background-color: #309383;
  display: inline-block;
  margin: 10px auto 20px;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  -webkit-animation-delay: 1.5s;
}
/* line 480, ../sass/style.scss */
.dwn-btn:hover {
  background-color: #3dc9b3;
  color: #fff;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<------------PORTFOLIO(PAGE-6)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 487, ../sass/style.scss */
.portfolio .col-md-4 {
  padding-top: 80px;
}
/* line 490, ../sass/style.scss */
.portfolio .image {
  width: 100%;
  display: block;
  height: auto;
  position: relative;
}
/* line 498, ../sass/style.scss */
.portfolio .overly {
  width: 100%;
  display: block;
  height: auto;
  position: relative;
}
/* line 505, ../sass/style.scss */
.portfolio .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(61, 201, 179, 0.5);
  overflow: hidden;
  width: 0;
  height: auto;
  transition: 0.5s ease;
  text-align: center;
}
/* line 519, ../sass/style.scss */
.portfolio .overly:hover .overlay {
  width: 100%;
}
/* line 523, ../sass/style.scss */
.portfolio .glyphicon {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}
/* line 533, ../sass/style.scss */
.portfolio #gly {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-----------99-PROBLEMS(PAGE-7)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 542, ../sass/style.scss */
.ignite {
  background-color: #242830;
  padding: 70px 0;
  text-align: center;
}

/* line 548, ../sass/style.scss */
.ignite-btn {
  display: inline-block;
  padding: 25px 40px;
  color: #fff;
  border: solid 1px #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
/* line 557, ../sass/style.scss */
.ignite-btn:hover {
  color: #3dc9b3;
  border-color: #3dc9b3;
  text-decoration: none;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<----TEAM(PAGE-8)-----<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 565, ../sass/style.scss */
#team h1 {
  font-size: 15px;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 1px;
  padding-top: 80px;
  padding-bottom: 20px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  position: relative;
}
/* line 576, ../sass/style.scss */
#team h1:after {
  content: url("../images/Layer.png");
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 102%;
  padding: 0px 15px;
  background: #fff;
}

/* line 590, ../sass/style.scss */
.section-padding {
  padding: 0 0 70px;
}

/* line 594, ../sass/style.scss */
#a2 {
  color: #353535;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  padding-top: 20px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<------SUBSCRIBE(PAGE-9)-------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 605, ../sass/style.scss */
.subscribe {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("../images/keyboard-bg.jpg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/* line 616, ../sass/style.scss */
.subscribe h1 {
  margin-top: 20px;
  display: inline-block;
  color: #fff !important;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 60px;
  font-size: 1.1em;
  margin: 0.67em 0;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  border: hidden;
}
/* line 631, ../sass/style.scss */
.subscribe i {
  display: inline-block;
  font-size: 2em;
  margin-bottom: 20px;
}
/* line 636, ../sass/style.scss */
.subscribe input {
  transition: background 0.55s ease;
}
/* line 638, ../sass/style.scss */
.subscribe input[type=text] {
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px;
  border-color: #fff;
  padding: 20px;
  width: 30%;
  color: #fff;
  line-height: normal;
  vertical-align: baseline;
  font-family: "Varela Round", sans-serif;
}
/* line 651, ../sass/style.scss */
.subscribe input[type=submit] {
  background-color: rgba(61, 201, 179, 0.5);
  border: solid 1px;
  border-color: rgba(61, 201, 179, 0.5);
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  line-height: normal;
  font-family: "Varela Round", sans-serif;
}
/* line 665, ../sass/style.scss */
.subscribe input[type=submit]:hover {
  background-color: #3dc9b3;
}
/* line 670, ../sass/style.scss */
.subscribe input[type=text]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<------CONTACT(PAGE-10)-------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 677, ../sass/style.scss */
.up-btn {
  transition: 0.5s ease;
  width: 50px;
  height: 50px;
  background-color: rgba(61, 201, 179, 0.5);
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  border-radius: 50px;
  top: -26px;
  position: relative;
}
/* line 691, ../sass/style.scss */
.up-btn:hover {
  background-color: #3dc9b3;
  color: white;
}

/* line 697, ../sass/style.scss */
.contact {
  background-color: whitesmoke;
}
/* line 701, ../sass/style.scss */
.contact h1 {
  font-size: 15px;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 1px;
  padding-top: 0px;
  padding-bottom: 20px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  position: relative;
}
/* line 712, ../sass/style.scss */
.contact h1:after {
  content: url("../images/Layer.png");
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 102%;
  padding: 0px 15px;
  background: whitesmoke;
}
/* line 722, ../sass/style.scss */
.contact h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: #3dc9b3;
  letter-spacing: 1.5px;
  padding-top: 15px;
  padding-bottom: 0px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
}
/* line 734, ../sass/style.scss */
.contact .light-box {
  transition: all 0.5s ease;
  background-color: #fff;
  text-align: center;
}
/* line 738, ../sass/style.scss */
.contact .light-box:hover {
  border-bottom: 4px solid #3dc9b3;
  transform: translate3d(0, -5px, 2px);
}

/* line 747, ../sass/style.scss */
.contact-details {
  margin: 20px 0;
}

/* line 751, ../sass/style.scss */
#fa-i {
  color: black;
  padding-bottom: 0px;
  font-size: 25px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<-------FOOTER-------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 758, ../sass/style.scss */
footer {
  background-color: #242830;
  width: 100%;
  height: 100px;
}
/* line 764, ../sass/style.scss */
footer a {
  color: #a1a9b0;
}
/* line 766, ../sass/style.scss */
footer a:hover {
  color: #3dc9b3;
  text-decoration: none;
}
/* line 771, ../sass/style.scss */
footer p {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  padding-top: 25px;
}

/* line 780, ../sass/style.scss */
.legals {
  text-align: left;
}

/* line 784, ../sass/style.scss */
.credit {
  text-align: right;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<------------"SOCIAL ICONS"----------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 790, ../sass/style.scss */
.social {
  padding-top: 20px;
  margin-top: auto;
  margin-bottom: 20px;
}

/* line 797, ../sass/style.scss */
ul#social-button {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 804, ../sass/style.scss */
.social-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #353535;
  color: #fff;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
  position: relative;
  margin: 0 auto 10px;
  box-sizing: border-box;
  display: inline-block;
}
/* line 817, ../sass/style.scss */
.social-btn:hover {
  background-color: #3dc9b3;
  color: #fff;
  transform: translateY(-10px);
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------CAROUSELS-------------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 829, ../sass/style.scss */
.myCarousel h1 {
  font-size: 15px;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 1px;
  padding-top: 80px;
  padding-bottom: 20px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  position: relative;
}
/* line 840, ../sass/style.scss */
.myCarousel h1:after {
  content: url("../images/Layer.png");
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 102%;
  padding: 0px 15px;
  background: #fafafa;
}

/* line 853, ../sass/style.scss */
.carousel-indicators {
  bottom: -40px;
}
/* line 855, ../sass/style.scss */
.carousel-indicators li {
  margin-top: 100px;
  border-radius: 13px;
  height: 13px;
  width: 13px;
  margin: 2px;
  font-weight: 800;
  color: black;
  border: 3px solid #A9A9A9;
  bottom: 50px;
  cursor: pointer;
}

/* line 871, ../sass/style.scss */
ol.carousel-indicators li.active {
  height: 13px;
  width: 13px;
  background-color: #242830;
}

/* line 878, ../sass/style.scss */
#carsl {
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 885, ../sass/style.scss */
#return-to-top {
  z-index: 99;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #555;
  background: #242830;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 906, ../sass/style.scss */
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 920, ../sass/style.scss */
#return-to-top:hover {
  background: #242830;
}
/* line 922, ../sass/style.scss */
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<------nav------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media only screen and (max-width: 990px) {
  /* line 3, ../sass/media-query.scss */
  .nav {
    top: 3%;
    left: -7%;
  }

  /* line 8, ../sass/media-query.scss */
  .sidenav a {
    padding: 20px 8px 20px 15px;
    font-size: 25px;
  }
  /* line 12, ../sass/media-query.scss */
  .sidenav li {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media screen and (max-height: 450px) {
  /* line 22, ../sass/media-query.scss */
  .sidenav {
    padding-top: 15px;
  }
  /* line 24, ../sass/media-query.scss */
  .sidenav a {
    font-size: 18px;
  }
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<------home------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media only screen and (max-width: 550px) {
  /* line 34, ../sass/media-query.scss */
  .bg-parallax-1 {
    min-height: 400px;
  }
  /* line 36, ../sass/media-query.scss */
  .bg-parallax-1 .inner {
    padding-top: 110px;
  }
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<------intro------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 768px) and (max-width: 990px) {
  /* line 47, ../sass/media-query.scss */
  #intro p {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}
@media (min-width: 991px) {
  /* line 56, ../sass/media-query.scss */
  #intro p {
    padding-right: 135px;
    padding-left: 135px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<------split-screen------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media only screen and (max-width: 767px) {
  /* line 69, ../sass/media-query.scss */
  .responsive-design {
    background: #f8f8f9;
  }
  /* line 71, ../sass/media-query.scss */
  .responsive-design .myCarousel h1:after {
    background: #f8f8f9;
  }
  /* line 75, ../sass/media-query.scss */
  .responsive-design .gray-half-bg {
    visibility: hidden;
  }
  /* line 78, ../sass/media-query.scss */
  .responsive-design .left-img {
    display: none;
  }
  /* line 80, ../sass/media-query.scss */
  .responsive-design .left-img img {
    visibility: hidden;
  }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* line 87, ../sass/media-query.scss */
  .responsive-design .left-img img {
    right: -140px;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
  /* line 92, ../sass/media-query.scss */
  .responsive-design .left-img img {
    right: -180px;
  }
}
@media only screen and (min-width: 1201px) {
  /* line 97, ../sass/media-query.scss */
  .responsive-design .left-img img {
    right: -220px;
  }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<------subscribe------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media only screen and (max-width: 480px) {
  /* line 104, ../sass/media-query.scss */
  .subscribe input[type=text] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<------footer------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media only screen and (max-width: 550px) {
  /* line 114, ../sass/media-query.scss */
  footer footer {
    height: 125px;
  }
  /* line 118, ../sass/media-query.scss */
  footer p {
    padding-top: 5px;
    font-size: 11px;
  }
  /* line 123, ../sass/media-query.scss */
  footer .col-xs-6 {
    width: 100%;
    margin-top: -11px;
    margin-bottom: -20px;
    padding-top: 2px;
  }
  /* line 129, ../sass/media-query.scss */
  footer .legals {
    text-align: center;
  }
  /* line 132, ../sass/media-query.scss */
  footer .credit {
    text-align: center;
  }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<------carousel------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media screen and (max-width: 767px) {
  /* line 143, ../sass/media-query.scss */
  .myCarousel {
    width: 100%;
  }
  /* line 145, ../sass/media-query.scss */
  .myCarousel #carsl {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 990px) {
  /* line 153, ../sass/media-query.scss */
  .carousel-indicators {
    bottom: -40px;
  }
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-----END------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-----END------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
